# Day 14 Student T Tests

In [1]:
# Importing Libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy 
import math
import warnings
warnings.simplefilter("ignore")

In [11]:
## Load Dataset
boat = sns.load_dataset('Titanic')
boat.head(),boat.shape

(   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
 0         0       3    male  22.0      1      0   7.2500        S  Third
 1         1       1  female  38.0      1      0  71.2833        C  First
 2         1       3  female  26.0      0      0   7.9250        S  Third
 3         1       1  female  35.0      1      0  53.1000        S  First
 4         0       3    male  35.0      0      0   8.0500        S  Third

      who  adult_male deck  embark_town alive  alone
 0    man        True  NaN  Southampton    no  False
 1  woman       False    C    Cherbourg   yes  False
 2  woman       False  NaN  Southampton   yes   True
 3  woman       False    C  Southampton   yes  False
 4    man        True  NaN  Southampton    no   True  ,
 (891, 15))

In [12]:
boat = boat[['sex','age','fare']]
boat.shape

(891, 3)

In [14]:
## Dropping na values of Age
boat.dropna(subset=['age','fare'], axis=0, inplace=True)
boat.isna().sum()

sex     0
age     0
fare    0
dtype: int64

In [15]:
age = boat['age']
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [18]:
fare = boat['fare']
fare.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: fare, dtype: float64

In [22]:
boat.describe() # Getting mean of ages

              age        fare
count  714.000000  714.000000
mean    29.699118   34.694514
std     14.526497   52.918930
min      0.420000    0.000000
25%     20.125000    8.050000
50%     28.000000   15.741700
75%     38.000000   33.375000
max     80.000000  512.329200

## Parametric Statistical Hypothesis Tests
1. Student T-test (Tests whether mean of 2 independent samples are significally different)
   
2. Paired Student T-test (Tests whether mean of 2 paired samples are significally different))

### 1 sample t test

In [21]:
# Checking and comparing age with a known value 
from scipy.stats import ttest_1samp
stat, p = ttest_1samp(age, 45)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same distribution')
else:
  print('Probably different distribution')

stat=-28.145, p=0.000
Probably different distribution

In [20]:
# Checking and comparing age with a known value 
from scipy.stats import ttest_1samp
stat, p = ttest_1samp(fare, 50)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same distribution')
else:
  print('Probably different distribution')

stat=-7.728, p=0.000
Probably different distribution

### Independent T Test

Dividing in to subgroups of male and female

In [23]:
df_male = boat.loc[boat['sex']=="male"]
df_female = boat.loc[boat['sex']=="female"]

In [27]:
# Example of the Student's t-test INDEPENDENT
from scipy.stats import ttest_ind
stat, p = ttest_ind(df_male['age'], df_female['age'])
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same dataset')
else:
  print('Probably different data set')

stat=2.499, p=0.013
Probably different data set

In [ ]:
# Example of the Student's t-test
from scipy.stats import ttest_ind
data1 = boat['age']
data2 = boat['fare']
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same dataset')
else:
  print('Probably different data set')

stat=-7.481, p=0.000
Probably different data set

In [ ]:
# Example of the Paired Student's t-test
from scipy.stats import ttest_rel
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
stat, p = ttest_rel(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same distribution')
else:
  print('Probably different distributions')

stat=-0.334, p=0.746
Probably the same distribution

In [ ]:
# Example of the Paired Student's t-test
from scipy.stats import ttest_rel
data1 = boat['age']
data2 = boat['fare']
stat, p = ttest_rel(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
  print('Probably the same distribution')
else:
  print('Probably different distribution')

stat=-7.351, p=0.000
Probably different distributions